/* ページ全体を中央に表示（センタリング）するには、
   ページ全体である<body>～</body>の中に<div>～</div>を入れ、
   その<div>～</div>を中央に表示する。
   次のbodyと#mainの2つの設定で実装される。
*/

/* body要素内の文字列をセンタリング */
body {
  text-align: center;
}

/* <div class="main">～</div>全体をセンタリング */
.main {
  margin: 0 auto;
}

/* 未訪問リンクの文字色を黒にし、アンダーラインがつかないようにする */
a:link{
  color: #000000;
  text-decoration: none;
}

/* 訪問済みのリンクの文字色を黒にし、アンダーラインがつかないようにする */
a:visited{
  color: #000000;
  text-decoration: none;
}

/* リンクにカーソルが乗った場合の文字色をgrayにし、アンダーラインがつかないようにする */
a:hover{
  color: #808080;
  text-decoration: none;
}

/* リンクがクリックされてから離されるまでの文字色をsilverにし、アンダーラインがつかないようにする */
a:active{
  color: #c0c0c0;
  text-decoration: none;
}

/*ヘッダーのレイアウト*/
.navi{
  width: 100%;
  margin:0 0 0 0;
  padding:15px 0px 5px;
  background-image:url(../images/header.png);
}

.navi li{
  display: inline;
  list-style-type: none;
  text-align: start;
  color: #000000;/*文字は黒に*/
  padding-right:25px;
}

*{
  margin: 0px;
  padding: 0px;
}

/*フッダーのレイアウト*/
.footer{
  width: 100%;
  margin:0 0 0 0;
  padding:15px 0px 5px;
  background-color: #adf5c6;
}

.footer li{
  display: inline;
  list-style-type: none;
  text-align: start;
  color: #000000;/*文字は黒に*/
  padding-right:25px;
}

/*背景色*/
.backcolor{
  background-color: #EEEEEE;
  max-width: 1520px;
  overflow:hidden;
}

/*テーブルのレイアウト*/
table{
  border-collapse: separate;
  border-spacing: 0px 5px;
  margin: 0 auto;
}
td,th{
  padding: 10px;
}
th{
  background: #10a0e0;
  color: #fff;
}
td{
  background: #f1fafe;
}

/*見出しのレイアウト*/
p{
  font-size: 30px;
}

/* エラーメッセージの文字色を赤にする */
.error_class {
  color: #ff0000;
}

/* リンクをボタンのように見せる
   以下はbutton_imageクラスを持つリンク
    ジャンル別商品一覧画面（product_select.php）の「詳細」リンク
    商品詳細画面（product_detail.php）の「ジャンル別商品一覧に戻る」リンク
    ログイン画面（login.php）の「新規登録はこちらから」リンク
    注文内容確認画面（order_confirm.php）の「お届け先情報を変更する」リンク
    注文内容確認画面（order_confirm.php）の「注文内容を変更する」リンク
*/
.button_image, .button_image2 {
  position: relative;
  display: inline-block;
  height:10px;
  font-size: 10px;
  text-align:center;
  padding:5px 5px 10px;
  color:#000000;
  background-color: #EEEEEE;
  border:1px solid #CCCCCC;
}

/*背景*/
.back{
  background:url(../images/backlogo.png);
  
  background-repeat: repeat;
}
/*テスト
.top{
  width: 2000px;
  height: 500px;
  background-image: url('../images/a.gif');
  background-size: 2000px;
  border: solid 2px;
  text-shadow: white 0px 0px 2px;
  font-size: 16px;
 }

 /* --- 全体のBOX定義 ---------------------------------------- */
.box {
  position   : relative;
  max-width  : 1520px;
  height     : 620px;
  margin     : auto;
  overflow   : hidden;
 
}

/* --- 背景の指定 ------------------------------------------- */
.box .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  z-index: 1;
  animation  : bgAnime 40s infinite;   /* 4画像 × 各10s = 40s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.box .src1 {
  background-image : url('../images/a.gif');   /* 背景の画像を指定 */
  background-size: cover;
    background-position: 20% 40%;
}
.box .src2 {
  background-image : url('../images/3.gif');   /* 背景の画像を指定 */
  animation-delay  : 10s;
  background-size: cover;
    background-position: 20% 40%;
}
.box .src3 {
  background-image : url('../images/2.gif');   /* 背景の画像を指定 */
  animation-delay  : 20s;
  background-size: cover;
    background-position: 20% 40%;
}
.box .src4 {
  background-image : url('../images/1.gif');   /* 背景の画像を指定 */
  animation-delay  : 30s;
  background-size: cover;
    background-position: 20% 40%;
}

@keyframes bgAnime {
   0% { opacity: 1; }
   10% { opacity: 1; }
  25% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 1; }
}

/* --- 前面の文字定義（サンプルのため変更してください） ----- */
.box .boxString{
  position   : absolute;
  display    : inline-block;
  padding    : 20px;
  background : rgba(0, 127, 255, 0.7);       
  color      : #fff;
  top        : 50%;                               
  left       : 50%;
  transform  : translate(-50%,-50%);
  z-index    : 11;
}


.bg-image {
  background-image: url('../images/1.gif');
  width: 1520px;
  height: 620px;
  background-size: cover;
}
.bg-mask {
  height: 100%;
  background: rgba(255,255,255,0.5);
}


.btn {
  position: relative;
  top:25%;
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 300px;
  height: 300px;
  line-height: 300px;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  background-image: -webkit-linear-gradient(45deg, #bacbf0 10%, #adf5c6 100%);    
  background-image: linear-gradient(45deg, #bacbf0 10%, #adf5c6 100%);
  transition: .4s;
  z-index: 2;
}

.btn:hover{
-webkit-transform: rotate(10deg);
-ms-transform: rotate(10deg);
transform: rotate(10deg);

}

.square_btn{
  display: inline-block;
  padding: 0.5em 1em;
  margin: 10px 0 10px;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(#8caaf0 0%, #67ceff 100%);
  background-image: linear-gradient(#aac1f5 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(244, 244, 247, 0.575);
  border-bottom: solid 3px #10a0e0;
}

.square_btn:active{
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

